<ion-view view-title="Goals">
  <ion-content>
  	<div class="bar bar-header bar-assertive-900" style="position: static;height:100px;">
      <div class="buttons buttons-left header-item">
          <span class="left-buttons">
              <button class="button back-button buttons no-text button-clear header-item" ng-click="$ionicGoBack($event)"><i class="icon ion-ios-arrow-back"></i> 
          </span>
      </div>
      <div class="h1 title title-left light headings" style="top:40px;font-size:40px;height:60px;">Goals</div>
      <div class="buttons buttons-right header-item">
          <span class="right-buttons">
              <button  style="margin-top:20px;" ui-sref="tab.goals.new" class="button button-energized-900 button-fab">
                  <i class="icon ion-plus"></i>
              </button>
              <button class="button button-icon button-clear icon ion-navicon" menu-toggle="right">
              </button>
          </span>
      </div>
    </div>
    <div class="tabs tabs-dark tabs-icon-top static" style="padding-top:20px;padding-bottom:20px;min-height:90px;">
        <a nav-clear ui-sref="tab.goals.list({filter:'all'})" class="tab-item disable-user-behavior active">
            <i class="icon ion-trophy"></i> All
        </a>
        <a nav-clear ui-sref="tab.goals.list({filter:'health'})" class="tab-item disable-user-behavior">
            <i class="icon ion-medkit"></i> Health
        </a>
        <a nav-clear ui-sref="tab.goals.list({filter:'career'})" class="tab-item disable-user-behavior">
            <i class="icon ion-plane"></i> Career
        </a>
        <a nav-clear ui-sref="tab.goals.list({filter:'personal'})" class="tab-item disable-user-behavior">
            <i class="icon ion-heart"></i> Personal
        </a>
    </div>
    <div class="row" style="min-height:400px;">
      <ion-nav-view></ion-nav-view>
    </div>
  </ion-content>
</ion-view>