<ion-view view-title="Goals list">
  <ion-content>
  	<h3  ng-if="partner.goals.length < 1" style="text-align:center;margin-top: 200px;font-size:30px;color:#888 !important;font-family:  cursive;"><span class="fa fa-trophy"></span>  No Goals present</h3>
  </ion-content>
</ion-view>