<ion-view view-title="Account">
  <ion-content>
  	<div class="row">
      <div class="row">
        <div class="col-10 col-offset-90">
          <span menu-toggle="right" class="icon ion-navicon" style="font-size:50px;"></span>
        </div>
      </div>
    </div>
    <ion-list>
	    <ion-toggle  ng-model="settings.enableFriends">
	        Enable Friends
	    </ion-toggle>
    </ion-list>
  </ion-content>
</ion-view>
