<ion-view view-title="Activity">
    <ion-content>
        <div class="activity-header">
          <div class="row">
            <div class="col-10 col-offset-90">
              <span menu-toggle="right" class="icon ion-navicon" style="font-size:50px;"></span>
            </div>
          </div>
          <div class="row" style="margin-top:180px;border-top:1px solid #333;padding-top:20px;">
            <div class="col-25 col-offset-20 headings">
              <span class="icon ion-trophy" style="font-size:30px;color:white;height:30px;"> Goals: </span>
            </div>
            <div class="col headings">
              <span class="icon ion-trophy" style="font-size:30px;color:white;height:30px;"> Achievements: </span>
            </div>
          </div>
        </div>
        <div class="row" style="margin-top:10px;">
          <div class="col" style="text-align:center;">
              <h1 class="headings">My Activity</h1>
          </div>
        </div>
        <div class="row">
          <div class="card col">
            <div class="item item-divider headings" style="font-size:30px;">
              <span class="fa fa-clock-o"></span> Daily Tasks
            </div>
            <div class="item item-text-wrap">
              <ion-list>
                <ion-toggle  ng-model="settings.bath">
                    Take Bath
                </ion-toggle>
                <ion-toggle  ng-model="settings.brush">
                    Brush
                </ion-toggle>
              </ion-list>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="card col">
            <div class="item item-divider headings" style="font-size:30px;">
              <span class="fa fa-calendar"></span> Monthly Tasks
            </div>
            <div class="item item-text-wrap">
              <ion-list>
                <ion-toggle  ng-model="settings.bath">
                    Complete Project
                </ion-toggle>
                <ion-toggle  ng-model="settings.brush">
                    Grow Plan
                </ion-toggle>
              </ion-list>
            </div>
          </div>
        </div>
    </ion-content>
</ion-view>