<ion-view view-title="New Goals">
    <ion-content>
		<div class="card">
		    <div class="item item-divider headings" style="font-size:30px;">
		        <span class="fa fa-plus-circle"></span> Add new Goal
		    </div>
		    <div class="item list" style="margin-top:30px;min-height:400px;">
		        <label class="item item-input item-stacked-label">
		            <span class="input-label">Title</span>
		            <input type="text" placeholder="John">
		        </label>
		        <label class="item item-input item-stacked-label">
		            <span class="input-label">Description</span>
		            <textarea rows="10" cols="30">

		            </textarea>
		        </label>
		        <label class="item item-input item-stacked-label">
		            <span class="input-label">Email</span>
		            <input type="text" placeholder="john@suhr.com">
		        </label>
		        <label class="item item-input item-stacked-label">
		            <span class="input-label">Date</span>
		            <input type="date">
		        </label>
		    </div>
		</div>
	</ion-content>
</ion-view>
