<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <link href="lib/ionic-material/dist/ionic.material.min.css" rel="stylesheet">
    <link href="lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>
    <script src="lib/restangular/dist/restangular.min.js"></script>
    <script src="lib/lodash/lodash.min.js"></script>
    <script src="lib/ionic-material/dist/ionic.material.min.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>
    <script src="js/controllers.js"></script>
    <script src="js/services.js"></script>
</head>

<body ng-app="partner">

    <ion-side-menus enable-menu-with-back-views="true">
        <ion-side-menu-content>
            <ion-nav-view animation="slide-left-right"></ion-nav-view>
        </ion-side-menu-content>

        <ion-side-menu side="right" style="background:#E0E0E0;">
            <ion-header-bar class="expanded bar bar-header disable-user-behavior" style="background:url(img/material-graphite.jpg);">
                <img src="img/icon.png" class="avatar motion spin fade">
                <div class="menu-bottom">
                    Partner
                </div>
            </ion-header-bar>
            <ion-content class="stable-bg has-expanded-header scroll-content ionic-scroll  has-header">
                <div class="scroll" style="transform: translate3d(0px, 0px, 0px) scale(1);">
                    <ion-list class="disable-user-behavior">
                        <div class="list">
                            <ion-item nav-clear="" menu-close="" href="#/tab/dash" class="item item-complex"><a class="item-content" ng-href="#/tab/dash" ui-sref="tab.dash" target="_self" href="#/tab/dash" ng-click="toggleLeft()">
                                Activity
                            </a>
                            </ion-item>
                            <ion-item nav-clear="" menu-close="" href="#/tab/goals/new" class="item item-complex"><a class="item-content" ng-href="#/tab/goals/new" ui-sref="tab.goals.new" target="_self" href="#/tab/goals/new" ng-click="toggleLeft()">
                                    Goals
                                </a>
                            </ion-item>
                            <ion-item nav-clear="" menu-close="" href="#/app/extensions" class="item item-complex"><a class="item-content" ng-href="#/app/extensions" target="_self" href="#/app/extensions" ng-click="toggleLeft()">
                                    Achievements
                                </a>
                            </ion-item>
                            <ion-item nav-clear="" menu-close="" href="#/tab/account" class="item item-complex"><a class="item-content" ng-href="#/tab/account" ui-sref="tab.account" target="_self" href="#/tab/account">
                                    Account
                                </a>
                            </ion-item>
                        </div>
                    </ion-list>
                </div>
                <div class="scroll-bar scroll-bar-v">
                    <div class="scroll-bar-indicator scroll-bar-fade-out" style="transform: translate3d(0px, 0px, 0px) scaleY(1); height: 0px; transform-origin: center bottom 0px;"></div>
                </div>
            </ion-content>
        </ion-side-menu>
    </ion-side-menus>
</body>
</html>
