@import url(https://fonts.googleapis.com/css?family=Lobster);

.activity-header{
	min-height:300px;
	background:url('../img/icon.png') ,-webkit-linear-gradient(top left,#923232,#923200);
	background:url('../img/icon.png') ,-moz-linear-gradient(top left,#923232,#923200);
	background:url('../img/icon.png') ,-o-linear-gradient(top left,#923232,#923200);
	background-position: center;
	background-repeat: no-repeat;
}
.headings{
	font-family: 'Lobster', cursive;
}
